@charset "UTF-8";
/* CSS Document */

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  padding-top: 5%;
  padding-bottom: 10%;
}

.title {
  font-weight: bold;
}

.info {
  width: 75%;
}

input {
  border: none;
  border-bottom: 1px solid black;
  margin: 2px;
}
input:focus {
  outline-width: 0;
}

button {
  background-color: #fff;
  border: 1px solid black;
}
